---
import type { Product } from "../components/Hpl";
import HorizontalProductList from "../components/Hpl";

const exampleProducts = await fetch("http://localhost:5555/hpl").then((res) => res.json());
export const prerender = false

/* 
[
  {
    "id": 1,
    "name": "Product 1",
    "price": 29.99,
    "discountPrice": 24.99,
    "imageUrl": "https://cdn.akakce.com/x/xiaomi/xiaomi-redmi-note-13-pro.jpg",
    "isNew": true,
    "isBestSeller": false
  },
  {
    "id": 2,
    "name": "Product 2",
    "price": 39.99,
    "imageUrl": "https://cdn.akakce.com/x/xiaomi/xiaomi-redmi-note-13-pro.jpg",
    "isBestSeller": true
  },
  {
    "id": 3,
    "name": "Product 3",
    "price": 49.99,
    "discountPrice": 44.99,
    "imageUrl": "https://cdn.akakce.com/x/xiaomi/xiaomi-redmi-note-13-pro.jpg",
    "isNew": true,
    "isBestSeller": true
  },
  {
    "id": 4,
    "name": "Product 4",
    "price": 49.99,
    "imageUrl": "https://cdn.akakce.com/x/xiaomi/xiaomi-redmi-note-13-pro.jpg"
  }
]


*/
---

<div class="p-6">
    <h1 class="text-2xl font-bold mb-4">Featured Products</h1>
    {Array.from({ length: 5 }).map((_, i) => (
        <HorizontalProductList key={i} products={exampleProducts as Product[]} />
    ))}
</div>
